<li id="create_all" data-hook>
  <%= link_to_with_icon('icon-fire',t(:create_all), create_all_admin_product_variants_path , :class => 'button') %>
  <%# "/admin/products/#{@product.permalink}/variants/create_all" %>
</li>
